.hero-section {
    background: #4a4a50;
    box-shadow: inset -400px -200px 900px -8px rgb(0 0 0 / 58%)
}

.hero-section > .text-wrapper {
    color: white;
    font-size: small;
    font-family: 'Nunito', sans-serif;
}