/* Common nav styles */
.navigation-wrapper {
    height: 0px;
    background-color: #000000;
    color: white;
    /* Flexbox contained */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
} 

.navigation-wrapper > .left-column > .logo-picture > #logo {
    width: 190px;
    padding: 17px;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42;
    width: 500px;
}

.links-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-wrapper > .nav-link a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > #spark a {
    color: #9e9d9d;
    text-decoration: none;
    transition: 0.5s;
}

.center-column > .explore {
    color: #dbc253;
    transition: 0.5s;

}